@import "quill/dist/quill.snow.css";

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfbcbc;
  color: #003366;
}
